name: CI

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

  merge_group: {}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set node
        uses: actions/setup-node@v3
        with:
          node-version: 22.x

      - name: Setup
        run: npm i -g pnpm@9

      - name: Install
        run: pnpm i --frozen-lockfile

      - name: Build
        run: pnpm run build

      - name: Build eslint
        run: pnpm run build:eslint

      - name: Lint
        run: pnpm run lint

  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node_version: [18, 20, 22]
        include:
          - os: macos-latest
            node_version: 22
          - os: windows-latest
            node_version: 22
      fail-fast: false

    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - uses: actions/checkout@v3
      - name: Set node ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - name: Setup
        run: npm i -g pnpm@9

      - name: Install
        run: pnpm i --frozen-lockfile

      - name: Build
        run: pnpm run build

      - name: Coverage
        run: pnpm run coverage

      - name: Typecheck
        run: pnpm run typecheck
