name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    permissions:
      id-token: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set node
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
          registry-url: 'https://registry.npmjs.org'

      - run: npx changelogithub
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Setup
        run: npm i -g pnpm@8

      - name: Install Dependencies
        run: pnpm i

      - name: Publish to NPM
        run: pnpm publish --access public --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
          NPM_CONFIG_PROVENANCE: true

      - name: Publish eslint-plugin to NPM
        run: pnpm publish --access public --no-git-checks
        working-directory: ./packages/eslint
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
          NPM_CONFIG_PROVENANCE: true

      - name: Publish mcp to NPM
        run: pnpm publish --access public --no-git-checks
        working-directory: ./packages/mcp
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
          NPM_CONFIG_PROVENANCE: true

      - name: Publish to VSCE
        run: |
          VERSION=$(node -p "require('./package.json').version")
          if [[ "$VERSION" == *"-beta"* ]]; then
            pnpm vsce publish --no-dependencies --pre-release -p ${{secrets.VSCE_TOKEN}}
          else
            pnpm vsce publish --no-dependencies -p ${{secrets.VSCE_TOKEN}}
          fi
        working-directory: ./packages/vscode
        env:
          VSCE_TOKEN: ${{secrets.VSCE_TOKEN}}
